// Cores primárias
$color-1: #f36e21;
$color-2: #8a2890;
$color-3: #bd4c0a;

// Cores secundárias
$color-4: #fc5252;
$color-5: #f26f25;
$color-6: #0087FF;

// Escala de Cinza
$color-white: #ffffff;
$color-black: #000000;
$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #ced4da;
$color-gray-400: #adb5bd;
$color-gray-500: #495057;
$color-gray-600: #dddddd;
$color-gray-700: #eeeeee;
$color-gray-800: #696969;
$color-gray-900: #333333;
$color-gray-901: #555555;
$color-gray-902: #d5d5d5;
$color-gray-903: #e6e6e6;
$color-gray-904: #f9f9f9;
$color-gray-905: #efefef;
$color-gray-906: #e2e2e2;
$color-gray-907: #f3f3f3;
$color-gray-908: #c4c4c4;
$color-gray-909: #fafafa;
$color-gray-910: #f1f1f1;
$color-gray-911: #b9b9b9;
$color-gray-912: #6b6b6b;

// Cores de texto
$text-color-1: #646464;
$text-color-2: #222222;
$text-color-3: #676767;
$text-color-4: #424242;
