// Fontes do projeto
$main-font: 'Open Sans', sans-serif;

// Espessura
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$ultra-bold: 900;

// Tamanho padrão das fontes
$font-size-base: 16px;
$font-title-base: 26px;
