.flex {
  &Row {
    &--mz-orderplaced {
      &__confirmation {
        border: 1px solid $color-1;
        border-radius: 8px;
        background: white;
        padding: 22px 28px;
        width: 100%;
      }

      &__products {
        :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
          width: 100% !important;

          :global(.vtex-order-placed-2-x-package) {
            flex-direction: column;
          }
        }
      }

      &__buttons {
        margin: 40px 0;
      }
    }

    &Content {
      &--mz-orderplaced {
        &__orderid {
          flex-direction: column;
        }

        &__summary {
          margin: 35px 0;
          justify-content: space-between;

          @include mobile {
            margin: 24px 0;
          }
        }

        &__products {
          flex-direction: column;

          :global(.vtex-order-placed-2-x-packageAddressWrapper) {
            display: none;
          }
        }

        &__buttons {
          justify-content: flex-end;

          :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
            width: auto !important;
          }
        }
      }
    }
  }

  &Col {
    &--mz-orderplaced {
      &__confirmation {
        height: auto !important;
      }

      &__summary {
        &--box {
          border: 1px solid $color-1;
          border-radius: 8px;
          padding: 20px;

          @include mobile {
            margin-bottom: 21px;
          }
        }
      }
    }

    &Child {
      &--mz-orderplaced {
        &__confirmation {
          height: auto !important;
        }

        &__summary {
          &--box {
            height: auto !important;

            :global(.vtex-order-placed-2-x-packageHeader),
            :global(.vtex-order-placed-2-x-productList) {
              display: none;
            }
          }
        }
      }
    }
  }
}
