.flex {
  &Row {
    &--mz-footer-seo {
      background-color: $color-3;
      padding: 18px 0;

      @include mobile {
        padding: 25px 0;
      }

      :global(.vtex-store-components-3-x-container) {
        height: 100%;
      }
    }

    &Content {
      &--mz-footer-seo {
        @extend %container;
        height: 100%;
        align-items: center;
      }
    }
  }
}
